@using Shop.Models
@model IEnumerable<Product>
@{
    Layout = "_ProductsLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>ТОВАРЫ</title>
</head>
<body>
<div>
    @foreach(var product in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@product.Image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@product.Name</h5>
                <a
                    class="btn btn-danger"
                    asp-controller="Product"
                    asp-action="Delete"
                    asp-route-id="@product.Id"
                >
                    Удалить
                </a>
            </div>
        </div>
    }
</div>
</body>
</html>